body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.heading{
    background-color: rgb(72, 71, 71);
}