* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?t=st=1720465407~exp=1720469007~hmac=4958278a5496396522a15b7fa9ea3a6112e20992c07500f97a3f8f13494d7f4c&w=1060') no-repeat center center fixed;
    background-size: calc(100% + 10px) auto; /* Adjust size to remove the white space */
    background-position: left center; /* Adjust position to center after resizing */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 10vh;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 23px;
    position: relative; /* Add position relative */
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block; /* Ensure the a tag is inline-block */
    padding-bottom: 5px; /* Add some padding at the bottom */
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0; /* Align the underline with the bottom of the a tag */
    left: 50%;
    background-color: #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0%;
}

.heading {
    margin-left: 150px;
    margin-top: 100px;
}

.heading p {
    font-size: 13px;
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.heading h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}