* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?t=st=1720465407~exp=1720469007~hmac=4958278a5496396522a15b7fa9ea3a6112e20992c07500f97a3f8f13494d7f4c&w=1060') no-repeat center center fixed;
    background-size: calc(100% + 20px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 8vh;
    font-size: 18px;
    z-index: 1000;
    background-color: #00000070;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0%;
}

.heading {
    margin-left: 150px;
    margin-top: 10vh;
    padding-top: 10vh
}

.heading p {
    font-size: 13px;
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.heading h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#about {
    margin-top: 80vh;
    padding: 10vh 0;
}

main {
    padding-top: 10vh;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.box h3 {
    font-family: "Cinzel", serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.box p {
    font-family: "Wittgenstein", serif;
    font-size: 14px;
    line-height: 1.5;
}

.box:hover {
    transform: scale(1.05);
}

.centered-text {
    text-align: center;
}

.downloadCV {
    margin-left: 149px;
    margin-top: 20px;
    list-style: none;
}

.downloadCV li {
    display: inline-block;
    /* Ensures li elements are inline */
}

.downloadCV li a {
    display: block;
    /* Makes the anchor tag a block element */
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 7px 22px;
    /* Adjust padding to increase button size */
    font-size: 17px;
    /* Adjust font size as needed */
    transition: transform 0.5s ease-in-out, background-color 0.3s ease;
    /* Smooth transition for background color */
    border-radius: 10px;
}

.downloadCV li a:hover {
    background-color: #1a1919;
    /* Darken background color on hover */
    transform: scale(1.1);
}

#skills {
    margin-top: 80vh;
    background-color: #ffffff;
    height: 90vh;
}

.heading_softskills {
    text-align: center;
    color: black;
    padding: 20px;
}

.heading_workskills {
    text-align: center;
    color: #1a1919;
    margin-top: 7vh;
}

.onetofive {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-family: "Cinzel", serif;
}

.fivetoten {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-family: "Cinzel", serif;
}

.onetofive h4:hover {
    transform: scale(1.03);
}

.fivetoten h4:hover {
    transform: scale(1.03);
}

h4 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.actualskills {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-family: "Cinzel", serif;
}

.actualskills h4:hover {
    transform: scale(1.03);
}

#heading_experience {
    font-family: "Cinzel", serif;
    text-align: center;
    margin-bottom: 3vh;
}

#experience {
    height: 100vh;
    margin-top: 20vh;
    width: 50vw;
    margin-left: 25%;
    background-color: #00000080;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    /* Regular shadow */
}

#experience::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: radial-gradient(circle, rgba(85, 85, 85, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
    border-radius: 10px;
}


#experience .paragraphs {
    display: inline;
    text-align: center;
}

#experience .paragraphs .paras {
    margin-top: 3vh;
    font-size: 20px;
}

#certificates{
    height: 50vh;
    margin-top: 20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    font-family: "Cinzel", serif;
    font-size: 15px;
    font-weight: 30px;
    background-color: white;
}

#certificates a{
    color: rgb(11, 11, 11);
    list-style: none;
    text-decoration: none;
    height: 5vh;
    width: 40vw;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-left: 90px;
}


#heading_certificates {
    font-family: "Cinzel", serif;
    text-align: center;
    justify-content: center;
    margin-bottom: 3vh;
    color: black;
}

#certificates a:hover {
    transform: scale(1.1);
    color: #1a1919;
}
